html {
    font-family: 'PT Serif', serif;
    background-color: #797b99;
  
}

body {
  text-align: center;
}

#score {

}

#spacer {
  margin: 10px;
}

#card {
  background: #babeca;
  padding: 10px;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

#quiz {

}

#timer {
 font-weight: bold; 
}

button {
  border-radius: 25px;
  font size: 12px;
  margin-top: 20px;
  line-height: 60px;
  font-weight: bold;
  padding: 0 40px;
  background: salmon;
  border: none;
}
button:hover {
  background: lightsalmon;
}

